.card {
	&__title {
		margin: 10px 0;
		font-size: 24px;
		line-height: 28px;
		font-weight: 600;
		width: 310px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__popular {
		width: 310px;

	}

	&__popular-img {
		max-height: 180px;
		width: 310px;
		overflow: hidden;
		border-radius: 5px;

		img {
			width: 100%;
			object-fit: cover;
			object-position: 0px -10px;
		}
	}

	&__rating {
		display: flex;
		align-items: center;
	}

	&__total-view {
		padding-left: 10px;
		color: $gray-secondary;
		font-size: 14px;
		font-weight: 300;
	}
}
