// color vars
$primary: #413746;
$secondary: #5d5d5d;
$blue: #4483e2;
$white: #fff;
$gray: #eee;
$gray-secondary: #8c8c8c;
$link-water: #f5f8fd;
$persian-green: #00b487;

$bgc-footer: #f8f8f8;
